body {
    background-color: #272c36;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#transcriptionResult {
    height: 150px; /* set height */
    padding: 10px; /* padding */
    line-height: 1.5; /* height between lines */
    margin-top: 20px;
    background: #0e032b; /* dark purple */
    border-radius: 10px; /* corner radius */
    color: #ddd; /* text color */
    border: 1px solid #2c2a38; /* border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* shadow */
    text-shadow: 1px 1px 2px black; /* text shadow */
    overflow: auto; /* show scroll bar */
}

/* add gradient to the transcription result */
#transcriptionResult {
    background-image: linear-gradient(to right, #222, #333);
}

.header-container {
    display: flex;
    align-items: center; /* make sure the title and the button are vertically aligned */
    justify-content: space-between; /* make sure the title and the button are horizontally aligned */
}

h1 {
    margin: 0;
}

#modelMenu {
    background-color: #484f5e; /*set background color */
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #303033;
    color: #868686;
    text-align: left;
    padding: 2px 10px;
    font-size: 14px;
}
